/* Defining Color Styles for Light and Dark Mode */
:root[data-mantine-color-scheme="light"] {
  --app-bg: #f8fafc;
  --app-card: #ffffff;
  --app-text: #0f172a;
  --app-border: #e2e8f0;
}
:root[data-mantine-color-scheme="dark"] {
  --app-bg: #0b1220;
  --app-card: #0f172a;
  --app-text: #e2e8f0;
  --app-border: #1f2a44;
  --app-button: #368862;
  --app-button-hover: #42a563;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--app-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Primary Button */
.mantine-Button-root[data-variant="primary"] {
  background: var(--app-button);
  color: var(--app-text);
  font-weight: 400;
}
.mantine-Button-root[data-variant="primary"]:hover {
  background: var(--app-button-hover);
  transition: background 0.2s ease-in-out;
}


/* Secondary Button */
.mantine-Button-root[data-variant="secondary"] {
  background: none;
  color: var(--app-text);
  font-weight: 600;
}
.mantine-Button-root[data-variant="secondary"]:hover {
  color: var(--app-button-hover);
  transition: color 0.2s ease-in-out;
}







body {
  background-color: var(--app-bg);
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

