/* =========== Defining Color Styles for Light and Dark Mode ============ */
/* DARK MODE */
:root[data-mantine-color-scheme="light"] {
  /* Primary Background Colors & Asssociated Alts */
  --app-bg: #ebeff3;
  --app-bg-alt-lighter: #eeeded;
  --app-bg-alt-darker: #e4e4e4;

  /* Sec. Colors (Accents) */
  --app-accent: #35de7b;
  --app-accent-alt-lighter: #4ae68b;
  --app-accent-alt-darker: #2ac76b;
  --app-accent-text: #f1f1f1;

  /* Primary Buttons (gradients) */
  --app-button: linear-gradient(30deg, #35de7b, #65d895);
  --app-button-hover: linear-gradient(30deg, #72f3a8, #65d895);;

 /* Sec. Buttons */
  --app-button-sec: #35de7b;
  --app-button-sec-hover: #2ac76b;
  
  
}

/* LIGHT MODE */
:root[data-mantine-color-scheme="dark"] {
  /* Primary Background Colors & Associated Alts */
  --app-bg: #031b25;
  --app-bg-alt-lighter: #081e29;
  --app-bg-alt-darker: #02131a;

  /* Sec. Colors (Accents) */
  --app-accent: #35de7b;
  --app-accent-alt-lighter: #4ae68b;
  --app-accent-alt-darker: #2ac76b;
  --app-accent-text: #021016;

  /* Primary Buttons (gradients) */
  --app-button: linear-gradient(30deg, #35de7b, #65d895);
  --app-button-hover: linear-gradient(30deg, #72f3a8, #65d895);

  /* Sec. Buttons */
  --app-button-sec: #35de7b;
  --app-button-sec-hover: #4ae68b;
}


:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--app-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Primary Button */
.mantine-Button-root[data-variant="primary"] {
  background: var(--app-button);
  color: var(--app-accent-text);
  font-weight: 400;
  
  transition: background 0.2s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, transform 0.2s ease;
  height: calc(1.6rem * var(--mantine-scale));
  touch-action: manipulation;
}
.mantine-Button-root[data-variant="primary"]:hover {
  background: var(--app-button-hover);
  box-shadow: 0 1px 15px 1px color-mix(in srgb, var(--app-accent-alt-lighter) 30%, transparent); /* have to do this with glow to actually use variable css styles */
  transform: scale(1.1);
  }
.mantine-Button-root[data-variant="primary"]:active
{
  transform: translateY(2px) scale(1.1);
}


/* Secondary Button */
.mantine-Button-root[data-variant="secondary"] {
  background: none;
  color: var(--app-button-sec); 
  overflow: visible;
  font-weight: 400;
  font-size: x-small;
  height: calc(1.15rem * var(--mantine-scale));
  width: calc(10rem * var(--mantine-scale));
  transition: transform 0.2s ease, color 0.2s ease-in-out;
}
.mantine-Button-root[data-variant="secondary"]:hover {
  color: var(--app-button-sec-hover);
  transform: scale(1.1);
  text-shadow:
    0 0 12px color-mix(in srgb, var(--app-button-sec-hover) 35%, transparent),
    0 0 12px color-mix(in srgb, var(--app-button-sec-hover) 35%, transparent),
    0 0 12px color-mix(in srgb, var(--app-button-sec-hover) 35%, transparent);
}
.mantine-Button-root[data-variant="secondary"]:active
{
  transform: translateY(2px) scale(1.1);
}
.mantine-Button-label{
  overflow: visible;
}


/* Navigation Bar */
.mantine-Group-root
{
  background: var(--app-bg-alt-lighter)
}


/* Mobile Navigation Bar */
.mantine-AppShell-navbar
{
  background-color: var(--app-bg-alt-lighter);
}


/* Navigation Bar Link Text */
.mantine-Text-root
{
  color: var(--app-button)
}


/* Navigation Dark/Light Mode Toggle Button */
.navToggle
{
  background-color: var(--app-accent);
  color: var(--app-accent-text);
  transition: background-color 0.2s ease-in-out, box-shadow 0.1s ease-in-out, transform 0.2s ease-in-out;
}
.navToggle:hover
{
  background-color: var(--app-accent-alt-lighter);
  color: var(--app-accent-text);
  box-shadow: 0 1px 15px 1px color-mix(in srgb, var(--app-accent-alt-lighter) 30%, transparent); /* have to do this with glow to actually use variable css styles */
  transform: scale(1.1);
}


/* Form Border Styling */
.form-borders
{
  border: 1px;
  padding:  65px 25px 50px 25px;
  border-style: solid;
  border-radius: 8px;
  border-color: var(--app-accent-alt-darker);
  background-color: var(--app-bg-alt-lighter);
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-borders:hover
{
  transform: scale(1.05);
  box-shadow: 0 1px 20px 0px color-mix(in srgb, var(--app-accent-alt-lighter) 30%, transparent); /* have to do this with glow to actually use variable css styles */
  border: 2px;
  border-style: solid;
  border-color: var(--app-accent-alt-darker);
}

/* Standard Text Fields */
.prim-text-fields
{
  background-color: var(--app-bg-alt-darker);
  border-color: var(--app-accent-alt-darker);
  border-radius: 8px;
  border-width: 1px;
  box-shadow: none;
  transition: border-color 0.1s ease-in-out;
}
.prim-text-fields:focus-within
{
  border-color: var(--app-accent-alt-lighter);
}

/* Navbar Hamburger (Mobile) */
.hamburger
{
  --burger-color: color-mix(in srgb, var(--app-accent-alt-lighter) 90%, white);
}



/*Dashboard Styling*/
.dashboard-container
{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 1px var(--app-accent);
  border-radius: 10px;
  margin: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.dashboard-container-offline
{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 1px gray;
  border-radius: 10px;
  margin: 8px;
  opacity: 60%;
  pointer-events: none;
}

.dashboard-container:hover
{
  transform: scale(1.03);
  box-shadow: 0 1px 20px 0px color-mix(in srgb, var(--app-accent-alt-lighter) 30%, transparent); /* have to do this with glow to actually use variable css styles */
  border: 2px;
  border-style: solid;
  border-color: var(--app-accent-alt-darker);
}

.dashboard-container-action-icon-area
{
  display: flex;
  width: 100%;
  height: 0%;
  flex-direction: row;
  justify-content: flex-end;
}

.dashboard-container-temperature-area
{
  width: 50%;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}












body {
  background-color: var(--app-bg);
  position: relative;
  display: flex;
  margin: 0;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  z-index: -99;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

